
<h1>tareas</h1>

<section>
    <div class="divinter">
     <h1>To do</h1>
     <div class="tareasContainer">
        <app-tarea></app-tarea>
     </div>
        <button (click)="abrirModal()">Agregar tarea</button>

    </div>

    <div class="divinter">
        <h1>Doing</h1>
        <div class="tareasContainer">
             <app-tarea></app-tarea>
        </div>
            <button type="button" (click)="agregarTarea(2)" id="button">agregar tarea</button>
    </div>
        
    <div class="divinter">
        <h1>Done</h1>
        <div class="tareasContainer">
             <app-tarea></app-tarea>
        </div>
            <button type="button" (click)="agregarTarea(3)" id="button">agregar tarea</button>
    </div>
</section>
<app-crear-tarea *ngIf="mostrarModal"></app-crear-tarea>


